:root {
    /* --yellow: rgb(255, 232, 89);
    --red: rgb(226, 107, 68);
    --green: rgb(137, 187, 79);
    --blue: rgb(94, 146, 189); */
}

html {
    font-family: sans-serif;
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
}

html, body {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    width: 100%;
    height: 100%;
    min-width: 400px;
}

body {
    line-height: 1;
    font-size: 100%;
    vertical-align: baseline;
    color: #4B4B4B;
    display: flex;
    flex-direction: column;
}

#top-bar {
    background: #fff;
    width: 100%;
    height: 54px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.12);
    z-index: 1;
}

#top-bar div.logo {
    display: inline-block;
    flex: 1 1 0;
    height: 30px;
    padding: 12px 0;
}

#top-bar .logo a {
    display: inline-block;
    height: 100%;
    width: 100%;
    max-width: 180px;
    background-image: url(/logo.png);
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
}

.hamburger {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;

    width: 400px;
    overflow: hidden;

    pointer-events: none;
}

.hamburger input {
    z-index: 1200;
    opacity: 0;
    cursor: pointer;
    margin: 0;
    pointer-events: all;
}

.hamburger input,
.hamburger .patty {
    position: absolute;
    right: 16px;
    top: 8px;
    width: 32px;
    height: 32px;
}

.hamburger .patty {
    z-index: 1100;
    padding-top: 4px;
    box-sizing: border-box;
}

.hamburger ul {
    pointer-events: all;
    background: white;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10;

    width: 300px;
    padding: 64px 50px 32px 50px;
    margin: 0;
    display: flex;
    flex-direction: column;

    background: white;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.12);
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    box-sizing: border-box;

    transform-origin: 0% 0%;
    transform: translate(308px, 0);

    transition: transform 0.5s ease;

    list-style-type: none;
}

.hamburger .fatty {
    flex: 1 1 0;
}

.patty i {
    position: relative;
    display: block;
    width: 26px;
    height: 4px;
    background: #4B4B4B;
    transition: 0.3s all ease;
    transform: translate(0, 0) rotate(0) scale(1.0);
    transform-origin: 4px 0;
    border-radius: 4px;
    margin: 4px 0 0 3px;
}

.hamburger input:checked ~ ul {
    transform: translate(0, 0);
}

.patty i {
    transform-origin: 0% 50%;
}

.hamburger input:checked ~ .patty i:nth-child(2) {
    transform: translate(-3px, 0) rotate(0) scale(0.0);
    opacity: 0;
}

.hamburger input:checked ~ .patty i:first-child {
    transform: translate(0, -2px) rotate(45deg);
}
.hamburger input:checked ~ .patty i:last-child {
    transform: translate(0, 0) rotate(-45deg);
}

.hamburger li {
    padding: 10px 0;
    font-size: 1.2rem;
    text-align: center;
    margin: 0;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex: 0 0 0;
}

ul.menu li {
    display: inline-block;
    margin: 0 10px 0;
    padding: 0;
    border-bottom: 3px solid transparent;
}

ul.menu li a {
    display: inline-block;
    padding: 15px 10px 12px;
    cursor: pointer;
}

.menu .active {
    border-bottom: 3px solid #1b54ac;
    color: #CCC;
}

.menu a:hover,
.menu a:active,
.menu a:focus {
    text-decoration: none;
}

.menu li:hover {
    border-bottom: 3px solid #1b54ac;
}

.hamburger .active {
    background: rgba(94, 146, 189, 0.22);
}

.lang-dropdown {
    cursor: default;
    position: relative;
    flex: 0 0 0;
}

.lang-dropdown > span {
    text-transform: uppercase;
    font-size: 12px;
}

.lang-dropdown a {
    cursor: pointer;
}

.lang-dropdown .fa-globe {
    font-size: 16px;
    margin-right: 5px;
}

.lang-dropdown ul {
    position: absolute;
    right: 0;
    top: 0;
    list-style: none;
    width: 140px;
    font: bold 12px sans-serif;
    overflow: hidden;
    max-height: 0px;
    text-align: center;
    -webkit-transition: max-height 0.4s linear;
    -moz-transition: max-height 0.4s linear;
    transition: max-height 0.4s linear;
}
.lang-dropdown:hover ul, .lang-dropdown:focus ul {
    max-height: 200px;
}
.lang-dropdown.up ul {
    top: auto;
    bottom: 20px;
}

.lang-dropdown li {
    background-color: #454545;
    position: relative;
    line-height: 24px;
    vertical-align: middle;
    text-align: left;
}
.lang-dropdown li:hover {
    background-color:#555;
}
.lang-dropdown li:first-child {
    border-radius: 3px 3px 0 0;
    margin-top: 20px;
}
.lang-dropdown li:first-child:before {
    content:'';
    position: absolute;
    width: 1px;
    height: 1px;
    border: 5px solid transparent;
    border-bottom-color: #454545;
    left: 75%;
    top: -11px;
    margin-left: -5px;
}
.lang-dropdown li:last-child {
    border-radius: 0 0 3px 3px;
}
.lang-dropdown.up li:first-child {
    margin-top: 0px;
}
.lang-dropdown.up li:last-child {
    margin-bottom: 15px;
}
.lang-dropdown.up li:last-child:after {
    content:'';
    position: absolute;
    width: 1px;
    height: 1px;
    border: 5px solid transparent;
    border-top-color: #454545;
    left: 75%;
    bottom: -11px;
    margin-left: -5px;
}

.lang-dropdown li > a,
.lang-dropdown li > span {
    padding: 12px;
    color: #fff !important;
    text-decoration: none !important;
    display: block;
}

.lang-dropdown span.shorthand {
    background: #282828;
    width: 24px;
    height: 24px;
    display: inline-block;
    line-height: 24px;
    text-align: center;
    margin: 0 6px;
}

article > *,
.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    max-width: 800px;
}

nav .container {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

nav .container .lang-dropdown {
    color: #1b54ac;
    padding: 13px 5px 15px 25px;
}

.lang-dropdown::after {
    content: '▾';
}

.up.lang-dropdown::after {
    content: '▴';
}

nav .container .lang-dropdown ul {
    top: 10px;
}

header {
    position: relative;
    display: block;
    max-width: 100%;
    background-image: url(/headers/default.jpg);
    background-size: cover;
    background-position: 50% 10%;
    background-blend-mode: soft-light;
}

header h1,
header .subtitle,
#stats {
    color: #FFF;
    text-shadow: 0px 0px 1px rgba(0,0,0,0.8);
}
.wifi header h1 {
    text-shadow: 0px 0px 4px rgba(0,0,0,0.8);
}

header h1 {
    margin: 0 auto 15px auto;
    padding: 50px 0;
    font-size: 2.4em;
}

.big-hero header {
    background-position-y: 54px;
    background-size: auto 350px;
    background-attachment: fixed;
    height: 300px;
}

.big-hero header h1 {
    padding: 100px 0 0;
    font-size: 2.8em;
}

header .subtitle {
    display: inline-block;
    width: 350px;
    font-size: 1.1em;
    line-height: 1.4em;
}


.yellow header {
    background-color: rgb(255, 232, 89);
    box-shadow: 0 0 8px 0 rgba(255, 232, 89, 0.12);
}
.yellow header h1 {
    color: black;
    text-shadow: none;
}

.none header {
    box-shadow: 0 0 8px 0 rgba(226, 107, 68, 0.12);
}
.none header h1 { color: white; }

.red header {
    background-color: rgb(226, 107, 68);
    box-shadow: 0 0 8px 0 rgba(226, 107, 68, 0.12);
}
.red header h1 { color: white; }
.green header {
    background-color: rgb(137, 187, 79);
    box-shadow: 0 0 8px 0 rgba(137, 187, 79, 0.12);
}
.green header h1 { color: white; }
.blue header {
    background-color: rgb(94, 146, 189);
    box-shadow: 0 0 8px 0 rgba(94, 146, 189, 0.12);
}
.blue header h1 { color: white; }

#stats {
    position: absolute;
    top: 35px;
    right: 20px;
}

#stats div {
    padding: 12px 0;
    font-size: 15px;
}

#stats div i {
    font-size: 36px;
    display: inline-block;
    width: 56px;
    height: 48px;
    float: left;
    vertical-align: middle;
}

#stats div span {
    display: block;
    font-weight: bold;
    font-size: 1.5em;
    width: 200px;
}

.two-columns:after {
    content: "";
    display: table;
    clear: both;
}

.two-columns .column:first-child {
    float: left;
    width: 70%;
}

.two-columns .column:last-child {
    float: right;
    width: 25%;
}

.two-columns .column:last-child > *:first-child,
.two-columns .column:last-child > .flex-item:first-child > * {
    margin-top: 0em;
}

.two-columns .column:last-child ul {
    list-style: none;
    text-indent: 0;
    margin: 0;
    padding: 0;
}

.two-columns .column:last-child ul.right {
    text-align: right;
}

.two-columns .column:last-child ul li {
    margin: 0;
    padding: 5px 0;
    border-top: 1px solid #dee2e6;
}

.two-columns .column:last-child ul li:first-child {
    border-top: none;
}

.two-columns .column:last-child ul li .fa {
    width: 16px;
    margin-right: 4px;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 1.5rem;
    margin-bottom: 0;
    line-height: 1.5rem;
    color: #363636;
}
h1 {
    font-size: 2rem;
    line-height: 3.5rem;
    margin-top: 2.5rem;
}
h2 {
    font-size: 1.7rem;
    line-height: 3rem;
    margin-top: 2rem;
}
h3 {
    font-size: 1.1rem;
}
h4 {
    font-size: 0.707rem;
}
h5 {
    font-size: 0.4713333333333333rem;
}
h6 {
    font-size: 0.3535rem;
}
h2 + h3 {
    margin-top: 0.5rem;
}

article {
    background: #FFF;
    width: 100%;
    position: relative;
    padding: 50px 0;
    flex: 1 1 0;
}

p, ul, ol {
    line-height: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
}
ul, ol {
    line-height: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
    padding: 0 8px;
    list-style-position: inside;
}
ul li,
ol li {
    margin-left: 0;
    line-height: 1.5rem;
}
ul ul,
ol ul,
ul ol,
ol ol {
    margin-top: 0;
    margin-bottom: 0;
}

dl {
    line-height: 1.2;
    display: flex;
    flex-wrap: wrap;
}
dt {
    font-weight: bold;
    flex: 0 0 30%;
    max-width: 30%;
    margin: 0;
}
dd {
    flex: 0 0 70%;
    max-width: 70%;
    margin: 0;
}
dd dl dt {
    font-weight: normal;
    max-width: 40%;
    flex: 0 0 40%;
    margin: 0;
}
dd dl dd {
    max-width: 60%;
    flex: 0 0 60%;
    margin: 0 0 0.5em;
}

hr {
    border: 0;
    height: 1px;
    background: #363636;
    margin: 15px 0;
}

blockquote {
    line-height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

table {
    margin-top: 1.5rem;
    border-spacing: 0px;
    border-collapse: collapse;
    width: 100%;
}
table td,
table th {
    line-height: 33px;
    padding: .3em 1em;
    vertical-align: top;
}

table th {
    border-bottom: 2px solid #dee2e6;
    text-align: left;
}

.wifi table th:first-child {
    width: 10em;
}

table td {
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

code {
    vertical-align: bottom;
}

a {
    color: #1b54ac;
    cursor: pointer;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

a.button {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #1b54ac;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
    line-height: 1.5;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
}

a.button:hover {
    background-color: #1b54ac;
    color: #fff;
    text-decoration: none;
}

#main {
    margin-top: 30px;
}

.callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.callout:after {
    content: "";
    clear: both;
    display: table;
}
.callout img.router {
    max-width: 40%;
    float: right;
}
.callout img.router.small {
    max-width: 33%;
}
.callout ul {
    list-style-position: outside;
}
.callout ul {
    list-style: none;
    padding: 0;
}
.callout li {
    padding: 0.2em;
    padding-left: 2.2em;
}
.callout li i.fa {
    text-align: center;
    display: inline-block;
    margin-left: -2em;
    width: 2em;
}
.callout h3,
.callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
    display: inline;
}
.callout p:last-child {
    margin-bottom: 0;
}
.callout code {
    border-radius: 3px;
}
.callout+.callout {
    margin-top: -5px;
}
.callout-default {
    border-left-color: #777;
}
.callout-default h4 {
    color: #777;
}
.callout-primary {
    border-left-color: #428bca;
}
.callout-primary h4 {
    color: #428bca;
}
.callout-success {
    border-left-color: #5cb85c;
}
.callout-success h4 {
    color: #5cb85c;
}
.callout-danger {
    border-left-color: #d9534f;
}
.callout-danger h4 {
    color: #d9534f;
}
.callout-warning {
    border-left-color: #f0ad4e;
}
.callout-warning h4 {
    color: #f0ad4e;
}
.callout-info {
    border-left-color: #5bc0de;
}
.callout-info h4 {
    color: #5bc0de;
}

footer {
    background: #363636;
    flex-shrink: 0;
    white-space: nowrap;
}

footer .container {
    display: flex;
    position: relative;
}

footer .editPage {
    padding: 15px 15px 15px 0;
    flex: 1 1 0;
    text-overflow: clip;
    overflow: hidden;
}

footer .container,
footer .container a {
    color: #EDEDED;
}

footer .center {
    padding: 15px;
    text-align: center;
    flex: 1 1 0;
}

footer .lang-dropdown-container {
    flex: 1 1 0;
    padding: 15px 0 15px 15px;
    text-align: right;
}

footer .lang-dropdown {
    display: inline;
    color: #EDEDED;
}

.we-are-not-stuwerk {
    border: 1px solid #fa7171;
    border-radius: 2px;
    margin: 5px 0;
    padding: 10px 10px 7px 10px;
    line-height: 1.25;
    color: red;
}

.email {
    font-style: italic;
}

.vorstand ul {
    padding-left: 0;
}

@media (max-width: 720px) {
    main {
        padding: 25px 0;
    }

    h1 {
        font-size: 1.6rem;
        line-height: 2rem;
    }

    h2 {
        font-size: 1.4rem;
        line-height: 1.6rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    .hamburger {
        display: block;
    }

    .menu,
    #top-bar .lang-dropdown {
        display: none;
    }

    .big-hero header {
        background-size: auto 250px;
        background-position: 50% 50%;
        background-attachment: inherit;
        height: 250px;
    }

    header h1 {
        padding: 50px 0 50px;
        font-size: 2rem;
        line-height: inherit;
    }

    .big-hero header h1 {
        padding: 25px 0 0;
    }

    article > *,
    article .container,
    footer .container {
        padding: 0 25px;
    }

    header {
        padding: 0;
    }

    footer .editPage a {
        color: transparent;
    }

    #stats {
        position: static;
        top: 25px;
        right: 0;
        display: flex;
        flex-wrap: wrap;
        padding-top: 12px;
    }

    #stats div {
        display: inline;
        white-space: nowrap;
        font-size: 12px;
        padding: 6px 0;
        width: 50%;
    }

    #stats div span {
        font-size: 14px;
        width: 175px;
        margin-bottom: 4px;
    }

    #stats div i {
        font-size: 32px;
        width: 48px;
        height: 42px;
    }

    #stats i.fa {
        font-size: 28px;
        width: 45px;
        height: 32px;
    }

    dl {
        display: block;
    }
    dt,
    dd dl dt,
    dd dl dd {
        flex: 1;
        max-width: 100%;
    }
    dd {
        flex: 1;
        margin: 0.8em 1em 1.6em;
    }
    dd dl dd {
        margin: 0.25em 0 1em;
    }

    .two-columns .column {
        float: none !important;
        width: 100% !important;
    }

    .two-columns .column:last-child {
        margin-top: 2rem;
        display: flex;
        flex-wrap: wrap;
    }

    .two-columns .flex-item {
        flex: 1;
    }

    .two-columns .flex-item:first-child {
        margin-right: 1.5rem;
    }

    .two-columns .flex-item:last-child {
        margin-left: 1.5rem;
    }

    .two-columns .flex-item h2 {
        margin-top: 0;
    }

    .wifi table th:first-child {
        width: 8em;
    }
}
