<div class="lang-dropdown {{ default "" ($.Scratch.Get "nav-orientation") }}">
    <span><i class="fa fa-globe"></i>{{ .Site.Language.Lang }}</span>
    <ul>
    {{ if .Site.IsMultiLingual }}
        {{ $lang := .Site.Language }}
        {{ range .Site.Languages }}
        <li>
            {{ $translated := where $.Translations "Lang" .Lang }}
            {{ if $translated }}
                {{ $.Scratch.Set "url" (index $translated 0).Permalink }}
            {{ else if eq .Lang $.Page.Lang }}
                {{ $.Scratch.Set "url" $.Permalink }}
            {{ else }}
                {{ $.Scratch.Set "url" (delimit (slice "/" .) "") }}
            {{ end }}
            <a href="{{ $.Scratch.Get "url" }}" class="lang">
                <span class="shorthand" aria-hidden="true">{{ .Lang }}</span>{{ .LanguageName }}
            </a>
        </li>
        {{ end }}
    {{ end }}
    </ul>
</div>
