{{/*
<table>
<thead>
<tr>
<th>{{ i18n "weekday" }}</th>
<th class="right">{{ i18n "date" }}</th>
<th class="right">{{ i18n "time" }}</th>
</tr>
</thead>
<tbody>
{{ $appointments := getJSON "https://stustanet.de/api/officehours.json" }}
{{ range first 5 $appointments }}
<tr>
<td>{{ if (eq $.Site.Language.Lang "de") }}
{{ index $.Site.Data.DE.Wochentage (sub (time (int .start)).Weekday 1) }}
{{ else }}
{{ dateFormat "Monday" (int .start) }}
{{ end }}</td>
<td class="right">{{ if (eq $.Site.Language.Lang "de") }}
{{ (time (int .start)).Day }}. {{ index $.Site.Data.DE.Monate (sub (time (int .start)).Month 1) }} {{ (time (int .start)).Year }}
{{ else }}
{{ dateFormat "January 2, 2006" (int .start) }}
{{ end }}</td>
<td class="right">{{ dateFormat "15:04" (int .start) }} – {{ dateFormat "15:04" (int .end) }}</td>
</tr>
{{ end }}
</tbody>
</table>
*/}}
<div class="warn">{{ if (eq $.Site.Language.Lang "de") }}
<p>Aufgrund der aktuellen Situation rund um COVID-19 werden bis auf Weiteres keine Sprechstunden angeboten.</p>
<p>Im Gegenzug wird der Zahlungszeitraum bei Mitgliedsanträgen nach Registrierung unter <a href="https://reg.stustanet.de/">reg.stustanet.de</a> auf zwei Monate verlängert, sodass nach erfolgreicher Registrierung der Internetzugang uneingeschränkt für zwei Monate genutzt werden kann.</p>
{{ else }}
<p>Due to the current situation concerning COVID-19, no office hours are offered for the time being.</p>
<p>In return, the payment period for membership applications will be extended to two months after registration at <a href="https://reg.stustanet.de/">reg.stustanet.de</a>, which means that after successful registration, the Internet access can be used without restrictions for two months.</p>
{{ end }}
</div>
